<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">Sobre Patitas</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="navbar-brand nav-link btn btn-success btn-round text-white" id="dropdownBasic1" ngbDropdownToggle>User Pages</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a [routerLink]="['/signup']" class="dropdown-item">Sign Up</a>
                            <a [routerLink]="['/register']" class="dropdown-item">Register</a>
                            <a [routerLink]="['/forgotPassword']" class="dropdown-item">Forgot Password</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="navbar-brand nav-link btn btn-info btn-round text-white" id="dropdownBasic1" ngbDropdownToggle>User Settings</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
                            <a [routerLink]="['/settings']" class="dropdown-item">Settings</a>
                            <!-- ¿que hago aqui? -->
                            <a [routerLink]="['/logOut']" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item " *ngIf="!isDocumentation()">
                    <a class="navbar-brand" href="/register">About Us</a>

                </li>
            </ul>
        </div>
    </div>
</nav>
